.site-header {
    @include outer-container;

    .title-area {
        @include span-columns(3);
    }
    .header-widget-area {
        @include span-columns(9);
    }
}


//* Header Image Styles

.header-image {
    .site-title > a {
        float: left;
        min-height: 60px;
        width: 100%;
    }

    .site-description,
    .site-title {
        display: block;
        text-indent: -9999px;
    }
}
