/*!
Theme Name: WP Temple Sandbox
Theme URI: https://www.wptemple.com
Description: Genesis Child theme.
Author: Zach Russell
Author URI: http://protechig.com
Template: genesis
Template Version: 2.1.2
License: GPL V2+
*/
/* Import Web Fonts */
/* Import Bourbon and Neat */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #DDD;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477DCA;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Import Partials */
.content-sidebar-wrap {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .content-sidebar-wrap::after {
    clear: both;
    content: "";
    display: table; }

.content {
  float: left;
  display: block;
  margin-right: 0.8403361345%;
  width: 74.7899159664%; }
  .content:last-child {
    margin-right: 0; }

.sidebar-primary {
  float: left;
  display: block;
  margin-right: 0.8403361345%;
  width: 24.3697478992%; }
  .sidebar-primary:last-child {
    margin-right: 0; }

.sidebar-content .sidebar-primary {
  float: left; }
.sidebar-content .content {
  float: right;
  margin-right: 0.625rem; }

.full-width-content .content {
  float: left;
  display: block;
  margin-right: 0.8403361345%;
  width: 100%; }
  .full-width-content .content:last-child {
    margin-right: 0; }

.site-header {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .site-header::after {
    clear: both;
    content: "";
    display: table; }
  .site-header .title-area {
    float: left;
    display: block;
    margin-right: 0.8403361345%;
    width: 24.3697478992%; }
    .site-header .title-area:last-child {
      margin-right: 0; }
    @media screen and (max-width: 63.9375em) {
      .site-header .title-area {
        float: left;
        display: block;
        margin-right: 1.2658227848%;
        width: 36.7088607595%; }
        .site-header .title-area:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 40em) {
      .site-header .title-area {
        float: left;
        display: block;
        margin-right: 2.5641025641%;
        width: 100%; }
        .site-header .title-area:last-child {
          margin-right: 0; } }
  .site-header .header-widget-area {
    float: left;
    display: block;
    margin-right: 0.8403361345%;
    width: 74.7899159664%; }
    .site-header .header-widget-area:last-child {
      margin-right: 0; }
    @media screen and (max-width: 63.9375em) {
      .site-header .header-widget-area {
        float: left;
        display: block;
        margin-right: 1.2658227848%;
        width: 62.0253164557%; }
        .site-header .header-widget-area:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 40em) {
      .site-header .header-widget-area {
        float: left;
        display: block;
        margin-right: 2.5641025641%;
        width: 100%; }
        .site-header .header-widget-area:last-child {
          margin-right: 0; } }

.header-image .site-title a {
  float: left;
  height: 100px;
  width: 100%; }
.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px; }

.genesis-nav-menu {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .genesis-nav-menu::after {
    clear: both;
    content: "";
    display: table; }
  .genesis-nav-menu .menu-item {
    list-style: none;
    float: left; }
    .genesis-nav-menu .menu-item a {
      display: block;
      position: relative;
      padding: 0.9375rem 1.875rem; }
    .genesis-nav-menu .menu-item > :first-child > a {
      padding-left: 0; }
    .genesis-nav-menu .menu-item.current-menu-item a {
      color: #477DCA; }
    .genesis-nav-menu .menu-item:first-child a {
      padding-left: 0; }
  .genesis-nav-menu .sub-menu {
    left: -9999px;
    position: absolute;
    width: 200px;
    background: red;
    z-index: 99; }
    .genesis-nav-menu .sub-menu .menu-item {
      float: none; }
      .genesis-nav-menu .sub-menu .menu-item a {
        padding: 0.9375rem 1.875rem; }
  .genesis-nav-menu .menu-item-has-children:hover > .sub-menu {
    display: block;
    left: auto; }
  .genesis-nav-menu .sub-menu .sub-menu {
    margin: -54px 0 0 200px;
    border-left: 1px solid white; }

.nav-primary {
  background-color: #333; }
  .nav-primary .menu-item a {
    color: white; }
    .nav-primary .menu-item a:hover {
      color: #477DCA;
      position: static; }

.footer-widgets {
  padding: 1.875rem 0;
  color: #9b9b9b;
  background: #333; }
  .footer-widgets .wrap {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto; }
    .footer-widgets .wrap::after {
      clear: both;
      content: "";
      display: table; }
  .footer-widgets .footer-widgets-1,
  .footer-widgets .footer-widgets-2,
  .footer-widgets .footer-widgets-3 {
    float: left;
    display: block;
    margin-right: 0.8403361345%;
    width: 32.7731092437%; }
    .footer-widgets .footer-widgets-1:last-child,
    .footer-widgets .footer-widgets-2:last-child,
    .footer-widgets .footer-widgets-3:last-child {
      margin-right: 0; }
  .footer-widgets .widgettitle {
    color: #DDD;
    margin-bottom: 0.625rem; }

.site-footer {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .site-footer::after {
    clear: both;
    content: "";
    display: table; }

/* Column Classes
 *
 * Width: 1200px
 * Gutter: 20px
 * Link: http://www.billerickson.net/column-class-generator/
--------------------------------------------- */
.five-sixths,
.four-sixths,
.four-fifths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-fifths,
.three-sixths,
.two-fourths,
.two-fifths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 1.6666666666667%; }

.one-half,
.three-sixths,
.two-fourths {
  width: 49.166666666667%; }

.one-third,
.two-sixths {
  width: 32.222222222222%; }

.four-sixths,
.two-thirds {
  width: 66.111111111111%; }

.one-fourth {
  width: 23.75%; }

.three-fourths {
  width: 74.583333333333%; }

.one-fifth {
  width: 18.666666666667%; }

.two-fifths {
  width: 39%; }

.three-fifths {
  width: 59.333333333333%; }

.four-fifths {
  width: 79.666666666667%; }

.one-sixth {
  width: 15.277777777778%; }

.five-sixths {
  width: 83.055555555556%; }

.first {
  clear: both;
  margin-left: 0; }

/* Responsive Menu
--------------------------------------------- */
.responsive-menu-icon {
  cursor: pointer;
  display: none;
  margin-bottom: -1px;
  text-align: center; }

.responsive-menu-icon::before {
  content: "\f333";
  display: inline-block;
  font: normal 1.875rem "dashicons";
  margin: 0 auto;
  padding: 10px; }

.nav-primary .responsive-menu-icon::before {
  color: #fff; }

@media only screen and (max-width: 768px) {
  .genesis-nav-menu.responsive-menu {
    display: none; }

  .genesis-nav-menu.responsive-menu .menu-item,
  .responsive-menu-icon {
    display: block;
    color: #333; }

  .genesis-nav-menu.responsive-menu .menu-item:hover {
    position: static; }

  .genesis-nav-menu.responsive-menu li.current-menu-item > a,
  .genesis-nav-menu.responsive-menu .sub-menu li.current-menu-item > a:hover,
  .genesis-nav-menu.responsive-menu li a,
  .genesis-nav-menu.responsive-menu li a:hover {
    border: none;
    display: block;
    padding: 20px;
    text-transform: none; }

  .genesis-nav-menu.responsive-menu .menu-item-has-children {
    cursor: pointer; }

  .genesis-nav-menu.responsive-menu .menu-item-has-children > a {
    margin-right: 60px; }

  .genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
    content: "\f347";
    float: right;
    font: normal 20px/1 'dashicons';
    height: 20px;
    padding: 15px 20px;
    right: 0;
    text-align: right;
    z-index: 9999; }

  .genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
    content: "\f343"; }

  .genesis-nav-menu.responsive-menu > .menu-item > .sub-menu {
    display: none; }

  .genesis-nav-menu.responsive-menu .sub-menu {
    background-color: rgba(255, 255, 255, 0.05);
    left: auto;
    opacity: 1;
    position: relative;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    width: 100%;
    z-index: 99; }

  .genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
    background-color: transparent;
    margin: 0;
    padding-left: 25px; }

  .genesis-nav-menu.responsive-menu .sub-menu li a,
  .genesis-nav-menu.responsive-menu .sub-menu li a:hover {
    padding: 12px 20px;
    position: relative;
    text-transform: none;
    width: 100%; }

  .genesis-nav-menu.responsive-menu .current-menu-item > a,
  .genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
  .genesis-nav-menu.responsive-menu > li.menu-item-has-children:hover > a,
  .genesis-nav-menu.responsive-menu a:hover {
    background: none; }

  .site-header .genesis-nav-menu.responsive-menu .current-menu-item > a,
  .site-header .genesis-nav-menu.responsive-menu .sub-menu li a,
  .site-header .genesis-nav-menu.responsive-menu .sub-menu li a:hover,
  .site-header .genesis-nav-menu.responsive-menu .sub-menu,
  .site-header .genesis-nav-menu.responsive-menu > .menu-item-has-children:before,
  .site-header .genesis-nav-menu.responsive-menu > li:hover > a,
  .site-header .genesis-nav-menu.responsive-menu a:hover {
    color: #fff; } }
