.footer-widgets {
    padding: rem(30px) 0;
    background: $dark-gray;
    color: shade($light-gray, 30%);
    .wrap{
        @include outer-container;
    }
    .footer-widgets-1,
    .footer-widgets-2,
    .footer-widgets-3 {
        @include span-columns(4);
    }
    .widgettitle {
        margin-bottom: rem(10px); 
        color: $light-gray;
    }
    a {
        &:hover {
        }
    }
}
.site-footer {
    text-align: center;

    @include outer-container;
}
