/* Responsive Menu
--------------------------------------------- */
 
.responsive-menu-icon {
    display: none;
    margin-bottom: -1px;
    text-align: center;
    cursor: pointer;
}
 
.responsive-menu-icon::before {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    content: "\f333";
    font: normal rem(30px) 'dashicons';
}
.nav-primary .responsive-menu-icon::before {
    color: #fff;
}
@media only screen and (max-width: 768px) {
    .genesis-nav-menu.responsive-menu {
        display: none;
    }

    .genesis-nav-menu.responsive-menu .menu-item,
    .responsive-menu-icon {
        display: block;
        color: $dark-gray;
    }

    .genesis-nav-menu.responsive-menu .menu-item:hover {
        position: static;
    }

    .genesis-nav-menu.responsive-menu li.current-menu-item > a,
    .genesis-nav-menu.responsive-menu .sub-menu li.current-menu-item > a:hover,
    .genesis-nav-menu.responsive-menu li a,
    .genesis-nav-menu.responsive-menu li a:hover {
        display: block;
        padding: 20px;
        border: none;
        text-transform: none;
    }

    .genesis-nav-menu.responsive-menu .menu-item-has-children {
        cursor: pointer;    
    }

    .genesis-nav-menu.responsive-menu .menu-item-has-children > a {
        margin-right: 60px;
    }

    .genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
        right: 0;
        z-index: 9999;
        float: right;
        padding: 15px 20px;
        height: 20px;
        content: "\f347";
        text-align: right;
        font: normal 20px/1 'dashicons';
    }

    .genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
        content: "\f343";
    }

    .genesis-nav-menu.responsive-menu > .menu-item > .sub-menu {
        display: none;
    }

    .genesis-nav-menu.responsive-menu .sub-menu {
        position: relative;
        left: auto;
        z-index: 99;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.05);
        opacity: 1;
        -webkit-transition: opacity .4s ease-in-out;
        -moz-transition:    opacity .4s ease-in-out;
        -ms-transition:     opacity .4s ease-in-out;
        -o-transition:      opacity .4s ease-in-out;
        transition:         opacity .4s ease-in-out;
    }

    .genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
        margin: 0;
        padding-left: 25px;
        background-color: transparent;
    }

    .genesis-nav-menu.responsive-menu .sub-menu li a,
    .genesis-nav-menu.responsive-menu .sub-menu li a:hover {
        position: relative;
        padding: 12px 20px;
        width: 100%;
        text-transform: none;
    }

    .genesis-nav-menu.responsive-menu .current-menu-item > a,
    .genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
    .genesis-nav-menu.responsive-menu > li.menu-item-has-children:hover > a,
    .genesis-nav-menu.responsive-menu a:hover {
        background: none;
    }

    .site-header .genesis-nav-menu.responsive-menu .current-menu-item > a,
    .site-header .genesis-nav-menu.responsive-menu .sub-menu li a,
    .site-header .genesis-nav-menu.responsive-menu .sub-menu li a:hover,
    .site-header .genesis-nav-menu.responsive-menu .sub-menu,
    .site-header .genesis-nav-menu.responsive-menu > .menu-item-has-children:before,
    .site-header .genesis-nav-menu.responsive-menu > li:hover > a,
    .site-header .genesis-nav-menu.responsive-menu a:hover {
        color: #fff;
    }
}

