.genesis-nav-menu {
    @include outer-container;

   .menu-item {
        list-style: none;
        float: left;
        
        a {
            display: block;
            position: relative;
            padding: rem(15px) rem(30px);
       }
        & > :first-child > a{
            padding-left: 0;
        }


        &.current-menu-item a {
            color: $action-color;
        }
    
        &:first-child a {
            padding-left: 0;
        }
    }
    .sub-menu {
        left: -9999px;
        position: absolute;
        width: 200px;
        background: red;
        z-index: 99;
        
        .menu-item {
            float: none;

            a {
                padding: rem(15px) rem(30px);
            }
        }
    }
    .menu-item-has-children:hover > .sub-menu {
        display: block;
        left: auto;
    }
    .sub-menu .sub-menu {
        margin: -54px 0 0 200px;
        border-left: 1px solid white;
    }
}

//* Primary Navigation
.nav-primary {
    background-color: $dark-gray;
    margin-bottom: rem(30px);

    .menu-item a {
        color: white;

        &:hover {
            color: $action-color;
            position: static;
        }
    }

}
